{% load product_extras %}

<div class="card">
  <div class="card-body">
    <div class="fw-bold">
      Resumen del pedido
    </div>
    <div>
      <table class="table-borderless table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Productos:</td>
            <td>{{ cart.total | price_format }}</td>
          </tr>
          <tr>
            <td>Envío:</td>
            <td>{{ order.shipping_total | price_format }}</td>
          </tr>
        </tbody>
      </table>      
    </div>
    <hr>
    <div class="fw-bold text-danger">
      Total (impuestos incluidos)
      <div class="d-inline-block">
        {{ order.total | price_format }}
      </div>
    </div>
    <div class="mt-2">
      <a href="#" class="btn btn-warning">Confirmar pedido</a>
    </div>
  </div>
</div>