{% extends 'base.html' %}

{% block content %}

<div class="col">
  <h2>Registro</h2>

  <!-- Formulario se debe utilizar una etiqueta form-->
  <form method="post">
    {% csrf_token %}

    <!-- <div class="form-group mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="form-group mb-3">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>

    <div class="form-group mb-3">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div> -->

    {% for field in form %}
    <div class="mb-3">

      {{ field.label_tag }}
      {{ field }}

      {% if field.errors %}
      {{ field.errors }}
      {% endif %}

    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

</div>

{% endblock %}