{% extends 'base.html' %}

{% block breadcrumb %}
  {% include 'orders/snippets/breadcrumb.html' %}
{% endblock%}

{% block content %}
  <div class="col">
    {% if shipping_address %}
      <div class="h3">
        Recoge el pedido en el punto de entrega
      </div>
      <div>
        {% include 'shipping_addresses/snippets/shipping_address.html' %}
      </div>
    {% else %}
    <div class="h3">
      Registra tu dirección de envío
    </div>
    <div>
      <a href="{% url 'shipping_addresses:create' %}">Nueva dirección de envío</a>
    </div>
    {% endif%}
  </div>
{% endblock %}