<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orden completada</title>
</head>
<body>
  <div>
    <h3>Hola {{ user.username }} Tu pedido ha sido enviado</h3>
    <p>Recuerda puedes visitar la página para ver tus pedidos</p>
    <a href="{{ next_url }}" target="_blank">Mis pedidos</a>
    <!-- Aqui se pueden agregar todos los valores de order -->
  </div>
</body>
</html>